// Disable security restrictions on upload
// The url is set at runtime by the run.sh script
user_pref("signed.applets.codebase_principal_support", true);
user_pref("capability.principal.codebase.p0.granted", "UniversalFileRead");
user_pref("capability.principal.codebase.p0.id", "http://localhost:8080");
user_pref("capability.principal.codebase.p0.subjectName", "");

// Set English as default language
user_pref("general.useragent.locale", "en");
user_pref("intl.accept_languages", "en");

// Speed up firefox by pipelining requests on a single connection
user_pref("network.http.keep-alive", true);
user_pref("network.http.pipelining", true);
user_pref("network.http.proxy.pipelining", true);
user_pref("network.http.pipelining.maxrequests", 8);

// Try to use less memory
user_pref("browser.sessionhistory.max_entries", 10);
user_pref("browser.sessionhistory.max_total_viewers", 4);
user_pref("browser.sessionstore.max_tabs_undo", 4);
user_pref("browser.sessionstore.interval", 1800000);

// do not load images
user_pref("permissions.default.image", 2);

// disable unresponsive script alerts (ignored by selenium)
//user_pref("dom.max_script_run_time", 0);
//user_pref("dom.max_chrome_script_run_time", 0);

// don't skip proxy for localhost
user_pref("network.proxy.no_proxies_on", "");

// prevent different kinds of popups/alerts
user_pref("browser.tabs.warnOnClose", false);
user_pref("browser.tabs.warnOnOpen", false);
user_pref("extensions.newAddons", false);
user_pref("extensions.update.notifyUser", false);

// disable autoscrolling
user_pref("browser.urlbar.autocomplete.enabled", false);

// downloads conf
user_pref("browser.download.useDownloadDir", false);

// prevent FF from running in offline mode when there's no network connection
user_pref("toolkit.networkmanager.disable", true);

// prevent FF from giving health reports
user_pref("datareporting.policy.dataSubmissionEnabled", false);
user_pref("datareporting.healthreport.uploadEnabled", false);
user_pref("datareporting.healthreport.service.firstRun", false);
user_pref("datareporting.healthreport.service.enabled", false);
user_pref("datareporting.healthreport.logging.consoleEnabled", false);

// start page conf to speed up FF
user_pref("browser.startup.homepage", "about:blank");
user_pref("pref.browser.homepage.disable_button.bookmark_page", false);
user_pref("pref.browser.homepage.disable_button.restore_default", false);

// misc confs to avoid useless updates
user_pref("browser.search.update", false);
user_pref("browser.bookmarks.restore_default_bookmarks", false);

// misc confs to speed up FF
user_pref("extensions.ui.dictionary.hidden", true);
user_pref("layout.spellcheckDefault", 0);
